.seguimiento-container {
  padding: 2rem;
  background-color: #f9f9f9;
  min-height: 100vh;

  .seguimiento-title {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 2rem;
  }
}
